policy_module(syncthing, 1.0.0)

gen_require(
    type unconfined_t;
    type user_home_t;
    type user_home_dir_t;
    type config_home_t;
    type fs_t;
    type sysctl_net_t;
    type net_conf_t;
    type http_port_t;
    type node_t;
    role unconfined_r;
)

# SELinux Types
# -------------------------------------------------------------

# process type for running process
type syncthing_t;

# file type for the syncthing binary
type syncthing_exec_t;

# file type for syncthing config files
type syncthing_config_t;

# Process Rules
# -------------------------------------------------------------

role unconfined_r types syncthing_t;
role unconfined_r types syncthing_config_t;
role object_r types syncthing_config_t;

domtrans_pattern(unconfined_t, syncthing_exec_t, syncthing_t)

# when executed, transition to the process type
init_daemon_domain(syncthing_t, syncthing_exec_t)
